**//node_modules/
**/dist/

.env
client/.env.local
client/.env.devlopment
client/.env.production
server/.env

client/.next/
client/node_modules/

.DS_Store
Thumbs.db

.vscode/

server/shared-local-instance.db
server/dynamodb-local-metadata.jsonnode_modules/
server/node_modules/
